<div *ngIf="uporabnik">

    <h3>Podrobnosti uporabnika {{uporabnik.ime}}</h3>

    <table>
        <tr>
            <td>Id:</td>
            <td>{{uporabnik.id}}</td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td>{{uporabnik.ime}}</td>
        </tr>
        <tr>
            <td>Priimek:</td>
            <td>{{uporabnik.priimek}}</td>
        </tr>
        <tr>
            <td>Uporabniško ime:</td>
            <td>{{uporabnik.uporabniskoIme}}</td>
        </tr>
    </table>

    <br>
    <h4>Nakupovalni seznami:</h4>
    <ul>
        <li *ngFor="let seznam of uporabnik.nakupovalniSeznami">
            {{seznam.naziv}}: {{seznam.opis}}
            <ul>
                <li *ngFor="let artikel of seznam.artikli"> {{artikel.naziv}}, {{artikel.opis}} </li>
            </ul>
        </li>
    </ul>

    <br>
    <button (click)="nazaj()">Nazaj</button>
</div>
